@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 240px;
  text-align: center;
  border: 10px solid #101116;
  background: #101116;
  border-radius: 5px;
}

.button {
  height: 60px;
  width: 60px;
}

.equal {
  height: 60px;
  width: 180px;
}

input[type="text"] {
  height: 75px;
  width: 249px;
  background-color: #10111600;
  border: 0px;
  color: #fff;
}
